<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yangwz.sparrowflow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <application
        android:name=".app.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/sparrow"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sparrow"
        android:supportsRtl="true"
        android:theme="@style/Theme.SparrowFlow"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashActivityTheme"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VideoCompressionActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.VideoPlayActivity" />
        <activity android:name=".activity.BitmapFactoryActivity" />
        <activity android:name=".cover.SelCoverTimeActivity" />
        <activity android:name=".activity.TextBitmapActivity" />
        <activity android:name=".activity.WaterMarkActivity" />

        <!--        //别忘了换成你自己的包名,另外这个字符串就是EasyPhotos.setFileProviderAuthoritiesText()的参数-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yangwz.sparrowflow.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
    </application>

</manifest>